body{    
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: brown;
}

table{
    text-align: center;
    border: 1px black solid;
    border-collapse: collapse;
}

td{
    border: 1px black solid; 
}

.cita{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-align: center;
}

